*{
    border: 0;
    padding: 0;
    margin: 0;
}
#interface{
   background-color: aqua;
   
}
#nav{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    margin-right: 50px;
    
}

.nav{
   
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px; 
  
}

.H{
    text-align: left;
    margin-bottom: -10px;
    margin-left: 30px;
}

#header{
    height: 90px;
    background-image: url(./home/região\ butanta\ headerr.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#corpo{
    margin-top: 10px;
    position: relative;
    background-image: url(./home/região\ butanta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div#nome1{
  
   flex-direction: column;
   width: 100%;
   height: auto;
   display: flex;
   align-items:center;
}

div#miro{
    display: flex;
    align-items:center;
    flex-direction: column;
}
    
img#miro{
    
margin-top: -110px;
}

img#nome1{
   max-width: 100%;
    
}

/*-------------------------------------propostas------------------------------------------------------------------------------------------------------------------------*/


#propostas{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-image: url(./home/quebrada.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#sec1{
 width: 100%;
display: flex;
flex-wrap:wrap;
}

#h2conheça{
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color:rgb(242, 121, 8);
    }

    #frazeConheça{
        display: flex;
        width: 400px;
        background-color: blue;
        
    }

Div#conheça{
    width: 100%;
    height: 500px;
    background-image: url(./PROPOSTAS/meio22.png);
}
 
#h2proposta{
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color:green;
    

}


.proposta{
    padding:15px;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 32px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}


#sec1 h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;

}
h4{
    margin-top: 10px;
    margin-bottom: 10px;
}