*{
    border: 0;
    padding: 0;
    margin: 0;
}
#interface{
   background-color: aqua;
   
}
#nav{
    display: flex;
    justify-content: end;
    
}

.nav{
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 19px;
    
    
}

.H{
    text-align: left;
}

#header{
    height: 90px;
    background-image: url(./home/região\ butanta\ headerr.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#corpo{
    margin-top: 10px;
    position: relative;
    background-image: url(./home/região\ butanta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div#nome1{
  
   flex-direction: column;
   width: 100%;
   height: auto;
   display: flex;
   align-items:center;
}

div#miro{
    display: flex;
    align-items:center;
    flex-direction: column;
}
    
img#miro{
    
margin-top: -110px;
}

img#nome1{
   max-width: 100%;
    
}

