
body{
    margin: auto;
    width:1020px ;
}
header{
    border-radius: 10px ;
    border: 2px solid rgb(7, 185, 10);
    background-image: url(./região\ butanta\ headerr.jpg);
    height: 186px;
}
img#butanta {
    border-image: 4px solid black;
    left: 500px;
    width: 500px;
    position:relative;
    top: -20px;
    filter: drop-shadow(10px 0 30px black);
    
}

img#nomemiro{
    position: relative;
    width: 800px;
    margin-left: 100px;
    margin-top: -10px;
    filter: drop-shadow(10px 0 30px rgb(240, 216, 4));

}
#inicio{
    background-color: orangered;

}
#conheça{
    background-color: rgb(39, 184, 22);

}
#proposta{
    background-color: rgb(0, 145, 255);

}
#contato
    { background-color: orangered

}
.nav{
    position: relative;
    display: block;
    top: 10px;
    margin-top: 50px;
    background-color: greenyellow;
    width: 250px;
    height:40px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;

}

main{
    
    height: 500px;
    width: 1020px;

background-image: url(./região\ butanta\ main.jpg);

 
}

img#miroimg{
    position: relative;
    top: -50px;
    left: 600px;
   
}



nav{
    position: relative;
    width: 1200px;
    top: -50px;
    left:300px;
    
}
nav a{
    
    color: aliceblue;
    margin-left: -190px;
    margin-top: -50px;
    font-size: 30px;
}

footer{
    background-image:url(./FOOTER.jpg);
    height:90px;
    width: 1025px;
}

div#redes{
position:relative;
display: flex;
left: 100px;
}
.iconi{
    width: 50px;
    margin-left: 10px;
}
#seção1{
    align-items: center;
    display: flex;
    left: 100px;
    top: 10px;
}
#seção1 h2{
  position: relative;
  top: 0px;
  left: 40px;
}





@media (max-width:450px ){
    body{
        margin: auto;
        width:450px;
        height: 800px;
    }
    header{
        background-image: url(./responsivo/região\ butanta\ headerr\ responsivo.jpg);
        width: 450px;
        height: 60px;
    }

    img#nomemiro{
        position: relative;
        width: 400px;
        margin-left: 30px;
        margin-top: -10px;
        filter: drop-shadow(10px 0 30px rgb(240, 216, 4));
    
    }

    .nav{
        position: relative;
        display: block;
        top: -20px;
        left: -270px;
        margin-top: 30px;
        background-color: greenyellow;
        width: 150px;
        height:20px;
        text-align: center;
        border-radius: 20px;
        border: 2px solid white;
    
    }
    
    img#miroimg{
        width: 400px;
        position: relative;
        top: -50px;
        left: 120px;

        
           }

main{
    background-image: url(./responsivo/main\ resp.jpg);
    width: 450px;
    height: 350px;
}

nav{
    position: absolute;
    width: 450px;
    top: 100px;

    
    
}
nav a{
    color: aliceblue;
    margin-left:0px;
    font-size: 10px;
}


footer{
    background-image:url(./FOOTER.jpg);
    height:90px;
    width: 400px;
}

div#redes{
position:relative;
display: flex;
left: 110px;
top: 40px;
}
.iconi{
    width: 30px;
    margin-left: 10px;
}
#seção1{
    align-items: center;
    display: flex;
    left: 100px;
    top: 10px;
}
#seção1 h2{
    color: aliceblue;
  position: absolute;
  top: 300px;
  left: 70px;
  font-size: 20px;
}

    }